.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.carousel-arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
